@font-face {
    font-family: "Mayeka_Thin";
    src: url("fonts/Mayeka_Thin.otf");
}
@font-face {
    font-family: "Mayeka_Regular";
    src: url("fonts/Mayeka_Regular.otf");
}
@font-face {
    font-family: "Mayeka_Bold";
    src: url("fonts/Mayeka_Bold.otf");
}

html, body {
    height: 100%;
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/landingimage.png") no-repeat center;
    background-size: cover;
}
.flex-item {
    width: auto;
    text-align: center;
}
.flex-item img {
    width: 50%;
}
p {
    margin: 0;
    color: white;
}
.subtitle {
    font-family: Mayeka_Regular, helvetica, sans-serif;
    font-size: 40px;
}
.info {
    align-self: flex-end;
    color: white;
    font-family: Mayeka_Bold, helvetica, sans-serif;
    font-size: 20px;
}
.dot {
    font-weight: bold;
    font-family: helvetica, sans-serif;
}